<section id="post">
  <div class="content content-width">
    <h1 class="post-title"> <%= page.title %></h1>
    <p class="date"> <%= page.date %> </p>
    <% if(page.thumb_image) {%>
      <p><img alt="<%= page.title%>" src="<%= page.thumb_image %>"/><p>
    <% } %>
    <%- page.content %>
  </div>
</section>