
<%
// adds default data usign "theme/aircv/scripts/default-data.js" helper
let logo = (site.data.logo !== undefined) ? site.data.logo : defaultData('logo');
let footer = (site.data.footer !== undefined) ? site.data.footer : defaultData('footer');
%>

<footer class="footer">
  <div class="content container">
      <!--// row -->
      <div class="row">
          <div class="col-xs-6">
            <% if(logo.text && logo.text_dark) { %>
              <span class="footer-logo"> <%- logo.text_dark %> </span>
            <% } else { %>
              <img class="footer-logo" src="<%- logo.image_dark %>" alt="<%= config.title %>">
            <% }  %>
          </div>
          <div class="col-xs-6 text-right sm-text-left">
              <p class="margin-b-0">
                <%- footer.line_01 %>
                <br>
                <br>
                <%- footer.line_02 %>
            </p>
          </div>
      </div>
      <!--// end row -->
  </div>
</footer>