
<%
// adds default data usign "theme/aircv/scripts/default-data.js" helper
let portfolio = (site.data.portfolio !== undefined) ? site.data.portfolio : defaultData('portfolio');
%>

<!-- Masonry Grid -->
<div class="masonry-grid row row-space-2">

  <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>

  <% portfolio.items.forEach(item => { %>
    <div class="masonry-grid-item <%= item.grid_class %>">
      <!-- Work -->
      <div class="work work-popup-trigger">
          <div class="work-overlay">
              <img class="full-width img-responsive" src="<%= item.image %>" alt="Portfolio Image">
              <div class="work-overlay-label">
                <p> <%= item.title %></p>
              </div>
          </div>
          <div class="work-popup-overlay">
              <div class="work-popup-content">
                  <a href="javascript:void(0);" class="work-popup-close"><%= item.hide_text %></a>
                  <div class="margin-b-30">
                      <h3 class="margin-b-5"><%= item.title %></h3>
                      <span><%- item.subtitle %></span>
                  </div>
                  <div class="row">
                      <div class="col-sm-8 work-popup-content-divider sm-margin-b-20">
                          <div class="margin-t-10 sm-margin-t-0">
                            <%- item.description %>
                            <% if(item.cta) {%>
                              <p>
                                <b><a href="<%= item.href %>"> <%= item.cta %> </a></b>
                              </p>
                            <% } %>
                            <ul class="list-inline work-popup-tag">
                                <% item.tags.forEach( tag => { %>
                                  <li class="work-popup-tag-item">
                                    <% if (tag.href) { %>
                                      <a class="work-popup-tag-link" href="<%= tag.href %>"><%= tag.text %></a>
                                    <% } else { %>
                                      <span class="work-popup-tag-text"> <%= tag.text %> </span>
                                    <% } %>
                                  </li>
                                <% }) %>
                            </ul>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="margin-t-10 sm-margin-t-0">
                            <% item.parameters.forEach( param => { %>
                              <p class="margin-b-5"><strong><%= param.title %>:</strong> <%- param.text %></p>
                            <% }) %>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- End Work -->
  </div>
  <% }); %>
</div>
<!-- End Masonry Grid -->