
<%
// adds default data usign "theme/aircv/scripts/default-data.js" helper
let experience = (site.data.experience !== undefined) ? site.data.experience : defaultData('experience');
%>


<!-- experience -->
<div id="experience">
  <div class="bg-color-sky-light" data-auto-height="true">
      <div class="container content-lg">
          <div class="row">
              <div class="col-sm-3 sm-margin-b-30">
                  <div class="text-right sm-text-left">
                      <h2 class="margin-b-0"><%= experience.title %></h2>
                      <p><%- experience.subtitle %></p>
                  </div>
              </div>
              <div class="col-sm-8 col-sm-offset-1">
                  <div class="row row-space-2 margin-b-4">
                    <% experience.items.forEach(item => { %>
                        <div class="col-md-4 md-margin-b-4">
                            <div class="service <% if(item.featured) { %> bg-color-base wow zoomIn <% } %>" data-height="height" <% if(item.featured) { %> data-wow-duration=".3" data-wow-delay=".1s" <% } %> >
                                <div class="service-element">
                                    <i class="service-icon <%= item.icon %>"></i>
                                </div>
                                <div class="service-info">
                                    <h3 <% if(item.featured) { %> class="color-white" <% } %> > <%- item.title %></h3>
                                    <p class=" <% if(item.featured) { %> color-white <% } %>"><%- item.content %></p>
                                    <% if(item.button) { %>
                                        <div class="service-button">
                                            <button class="btn btn-theme <%= (item.featured) ? 'btn-white-bg' : 'btn-default-bg' %>"> <%= item.button %> </button>
                                        </div>
                                    <% } %>
                                </div>
                                <a href="<%= item.href %>" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    <% }); %>
                  </div>
                  <!--// end row -->
              </div>
          </div>
          <!--// end row -->
      </div>
  </div>
</div>
<!-- End experience -->